# Unity generated
Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/
Build/
Builds/
Assets/Plugins/Editor/

# Package cache (evitar Burst, LLVM, etc)
**/PackageCache/
**/com.unity.burst*/

# IDE i fitxers de solucions
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb

# OS
.DS_Store
Thumbs.db
